.body{
    box-sizing: border-box;
    margin:0;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
  }


  .text{
    background-color:rgb(255, 111, 0);
    margin-top:10%;
    margin-left: 60%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5%;
    border-radius: 65px;
    transition: 2s;
  }
  
  .text:hover{
    width: 1000px;
    background-color: black;
    margin-left:0%;
    
  
  }
  .gr{
    
    background-image: linear-gradient(
      -225deg,
      white 50%,
      black 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 250% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: width 2s;
    animation: textclip 5s linear infinite;
    font-family:Arial, Helvetica, sans-serif
      

  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  


  .slide-top{
    color: white;
  }
 

  .btn{
    color: white;
    background-color: rgb(226, 102, 0);
    border-radius: 50px;
    width: 50%;
    height: 50%;
  }
  
  
  .wrap{
    position: absolute;
    margin-top: 1%;
    margin-left:70%;
    transform:skew(10deg)
    
  }
  
  .layer{
    height: 220px;
    width: 150px;
    position: absolute;
    border-radius: 30px;
  }
  
  .layer1{
    background-color:green;
    opacity: 0.7;
    transform:rotateX(130deg) rotateZ(170deg) translateZ(-80px) ;
    left: 30px;
  }
  
  .layer2{
    background-color:yellow;
    opacity: 0.7;
    transform:rotateX(130deg) rotateZ(170deg) translateZ(-50px) ;
  }
  
  .layer3{
    background-color:blue;
    opacity: 0.7;
    transform:rotateX(130deg) rotateZ(170deg) translateZ(-30px) ;
    right: -120px;
  }

  