<html>
<head>
<meta charset="utf-8">
<title> Login form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="logincss.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head> 
<body>

<div class="container"> 
<h1>Login</h1>

<form action="/action_page.php" method="post">


    <div class="tbox">
        <input type="email" class="form-control" placeholder="Email" id="email">
    </div>
    
    <div class="tbox">
        <input type="password" class="form-control" placeholder="Password" id="pwd">

    </div>

        
    
</form>
<!--<a class="b1" href="#">Forgot your password?</a>
<a class="b1" href="#">Create account?</a>-->
<button type="button" class="btn">LOG IN</button> 
<br>
<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-twitter"></a>

</div>

</body>
</html>